body{
    font-family: Bahnschrift, Corbel, 'Segoe UI';
    background-color: #ba9bcc;
    text-align: center;
}
footer {
    font-family: sans-serif;
    color: gray;
    text-align: center;
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
img {
    max-width: 100%;
    max-height: 100vh;
    margin-top:0px;
}
#reimu { /* No clue how or why this shit works */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}